.pink{ background : pink;
		border: 1px solid purple;
}
.green{
	background: green;
	border: 1px solid purple;
}
.yellow{
	background: yellow;
	border: 1px solid purple;
}
.white{
	background: white;
	border: 1px solid purple;
}